@import "header.css";

/*메인*/
.main {
  /* 2024-09-04 */
  display: grid;
  grid-template-columns: 1fr 5fr;

  padding-top: 54px;
}

/*컨테이너*/
.main .container {
  padding-top: 30px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

/* 2024-09-04 */

.main .navMenu {
    display: flex;
    justify-content: center; 

    width: 200px;

    border: 1px solid rgb(219, 219, 219);
}

.main .navMenu .nav {
    padding: 30px 0px 20px 24px;
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;

    bottom: 20vh;
  
}

.main .navMenu .nav li {
  margin-bottom: 25px;
}

.main .navMenu .nav .nav__menu {
  padding-bottom: 20px;
}

.main .navMenu .nav .nav__menu a {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.main .navMenu .nav .nav__menu i {
  margin-right: 10px;
}


.main .navMenu .nav .nav__more {
  width: 130px;
  
}

.main .navMenu .nav .nav__more a {
  color: black;
  width: 100px;

  font-size: 14px;
  font-weight: 300;
}

.main .navMenu .nav .nav__more .nav__more__btn {
  margin-right: 10px;
  cursor: pointer;

  position: relative;
  bottom: 45px;
}

.main .navMenu .nav .nav__more .nav__more__btn i {
  margin-right: 8px;
}

/* 네브메뉴 스타일링 : 5분 41초부터 다시*/
.main .navMenu .nav .nav__more .nav__more__dropdownMenu {
  border: 1px solid rgb(219, 219, 219);
 
  position: absolute;
  background-color: white;
  
  width: 150px;


  bottom: -500px;
  left: 50px;
  
}

.main .navMenu .nav .nav__more .nav__more__dropdownMenu.show {
  position: absolute;
  bottom: 90px;
  transition: all 0.45s ease;
}

.main .navMenu .nav .nav__more .nav__more__dropdownMenu li {
  margin: 10px;
  padding : 5px;
}

.main .navMenu .nav .nav__more .nav__more__dropdownMenu li:hover {
  background-color: #dbdbdb;
}

.main .navMenu .nav .nav__more .nav__more__dropdownMenu i {
  margin-right: 10px;
}

.main .navMenu .nav .nav__more .nav__more__dropdownMenu .nav__menu__dropdownItem a {
  color: black;
}

.main .container .story-area {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/*게시물리스트*/
.main .container .story-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*게시물 리스트 아이템*/
.main .container .story-list .story-list__item {
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

/*리스트 아이템 헤더부분*/
.main .container .story-list .story-list__item .sl__item__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

/*리스트 아이템 헤더 div*/
.main .container .story-list .story-list__item .sl__item__header div {
  margin-left: 5px;
  padding-top: 5px;
}

/*리스트 아이템 헤더 이미지영역 박스*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__header
  div:nth-child(1) {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  position: relative;
}

/*리스트 아이템 헤더 실제이미지*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__header
  div:nth-child(1)
  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main .main-content {
  display: flex;
  justify-content: space-between;
}

/* 게시물 이미지 박스*/
.main .container .story-list .story-list__item .sl__item__img {
  height: 600px;
  min-height: 300px;
}

/* 게시물 이미지*/
.main .container .story-list .story-list__item .sl__item__img img {
  width: 100%;
  height: 100%;
}

/* 게시물 이미지 밑에 영역들 */
.main .container .story-list .story-list__item .sl__item__contents {
  display: flex;
  flex-direction: column;
  
}

/*좋아요 버튼영역*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon {
  height: 40px;
  padding: 5px 0;      
}

/*좋아요 실제 버튼*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon
  button {
  background-color: transparent;
  width: 40px;
  font-size: 25px;
  
  border: 0;
  cursor: pointer;
}

/*게시물 내용*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__content {
  padding: 5px 15px;
}

/*게시물 like 갯수스타일*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents .like{
	background-color: transparent;
	border: 0;
	color: #aaa;
	font-size: 14px;
	margin-bottom: 5px;
	text-indent: 15px;
}
/*게시물 좋아요 count값 */
.main
  .container
  .story-list
  .story-list__item
.sl__item__contents .like b{
	margin-right: 5px;
}

/*태그영역*/
.sl__item__contents__tags{
  height: 40px;
  padding: 5px 10px;  
  color: #0080ff;
}

/*코멘트 = 댓글 */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__comment
  {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 5px;
}

/*댓글 삭제버튼*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
.sl__item__contents__comment button{ border: none; outline: none; background: #fff; cursor: pointer;}

/* 댓글 입력창*/
.main .container .story-list .story-list__item .sl__item__input {
  display: flex;
  border-top: 1px solid #dbdbdb;
}

/*입력 인풋*/
.main .container .story-list .story-list__item .sl__item__input input {
  flex: 9;
  height: 56px;
  border: 0;
  padding-left: 15px;
}
/* 입력하기 버튼 */
.main .container .story-list .story-list__item .sl__item__input button {
  flex: 1;
  height: 56px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: #0095f6;
  font-size: 14px;
}

/* Event */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon
  button:first-child
  .active {
  color: red;
}

.main .container .main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* 2024-09-10 : 여기부터 다시*/
.main .container .user-list {
  margin-left: 50px;
  width: 200px;
  height: 300px;
  background-color: black;
}

.profile-image {
  border: 2px solid #8a3ab8;
}

.main .container .main-content .story-list {
  overflow: hidden;
  width: 500px;
}

/* 2024-09-11 : 여기까지함 */
.main .container .main-content .profileCarousel {
  display: flex;
  height: 100px;
  
}

.main .container .main-content .profileCarousel .profileCarousel__img {
  width: 60px;
  height: 60px;

  padding: 3px;

  margin-right: 10px;
}

.main .container .main-content .profileCarousel .profileCarousel__img img {
  width: 60px;
  border-radius: 50%;
  border: 1px solid grey;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.main .container .main-content .profileCarousel .profileCarousel__img p {
  color: gray;
  text-align: center;
  font-size: 13px;
}
